/* COLORS */
:root {
    --color-black: #222;
    --color-dark-grey: #6a6a6a;
    --color-grey: #C4C4C4;
    --color-light-grey: #DFDFDF;
    --color-white: #EFEFEF;

    --color-red: #ff5747;
    --color-orange: #f2a752;
    --color-yellow: #f5e171;
    --color-blue: #4287f5;
    --color-purple: #b86ded;

    --color-orange-dark: #80582b;
    --color-yellow-dark: #80753b;
    --color-blue-dark: #224680;
    --color-purple-dark: #633b80;

    --color-primary: var(--color-black);
    --color-secondary: var(--color-white);

    --font-heading: Helvetica, sans-serif;
    --font-body: Helvetica, sans-serif;

    --base-vertical-padding: 4.375rem;
    --base-side-padding: 32px;

    --tablet-side-padding: 75px;
    --laptop-side-padding: 150px;
    --desktop-side-padding: 500px;

    --border-radius-primary: 5px;
}

/* MAIN STRUCTURE */

body {
    background: var(--color-secondary);
    color: var(--color-primary);
    font-family: var(--font-body);
    margin: 0 auto;
}

main {
    padding: 0rem var(--base-side-padding);
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

section {
    line-height: 1.6rem;
}

footer {
    text-align: center;
}

/* NOTES */
.note {
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-primary);
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.note__heading {
    margin-top: 0rem;
}

.note__meta {
    margin-bottom: .25rem;
}

/* SECTIONS */
.add-section-btn {
    display: inline;
}

/* COMMENT */
.comment {
    background: var(--color-grey);
    border-radius: var(--border-radius-primary);
    margin-bottom: 1rem;
    max-width: 30%;
    padding: 1rem;
}

.comment__upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment.rythmic {
    background-color: var(--color-orange);
}

.comment.melodic {
    background-color: var(--color-yellow);
}

.comment.harmonic {
    background-color: var(--color-blue);
}

.comment.sound-design {
    background-color: var(--color-purple);
}

.comment__tag {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: .5rem;
}

.comment.rythmic .comment__tag {
    color: var(--color-orange-dark);
}

.comment.melodic .comment__tag {
    color: var(--color-yellow-dark);
}

.comment.harmonic .comment__tag {
    color: var(--color-blue-dark);
}

.comment.sound-design .comment__tag {
    color: var(--color-purple-dark);
}

.comment.untagged .comment__tag {
    color: var(--color-dark-grey);
}

/* MODAL */
#modal {
    background-color: #ddd;
    border-radius: var(--border-radius-primary);
    margin: 50vh 50vw 0;
    padding: 1.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* BUTTONS */
.close-btn {
    border: none;
    border-radius: 5px;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    padding: .25rem .45rem;
}

.close-btn:hover {
    background: rgba(255, 255, 255, .5);
    color: var(--color-red);
    cursor: pointer;
}

/* UTILS */
.hidden {
    display: none;
    color: red;
}
